

*[flex-empty]{
	width: 100%;
}
*[flex-row-cc]{
	display: flex;
	justify-content:center;
	align-items:center;

}
*[flex-row-lc]{
	display: flex;
	justify-content:flex-start;
	align-items:center;
}
*[flex-row-rc]{
	display: flex;
	justify-content:flex-end;
	align-items:center;
}

*[flex-row-lrc]{
	display: flex;
	justify-content:space-between;
	align-items:center;
}
*[flex-row-lrt]{
	display: flex;
	justify-content:space-between;
	align-items:flex-start;
}
*[flex-row-lrb]{
	display: flex;
	justify-content:space-between;
	align-items:flex-end;
}

*[flex-row-ct]{
	display: flex;
	justify-content:center;
	align-items:flex-start;

}

*[flex-row-lt]{
	display: flex;
	justify-content:flex-start;
	align-items:flex-start;
}

*[flex-row-rt]{
	display: flex;
	justify-content:flex-end;
	align-items:flex-start;
}

*[flex-row-lrt]{
	display: flex;
	justify-content:space-between;
	align-items:flex-start;
}

*[flex-col-cc]{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
*[flex-col-tc]{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}
*[flex-col-tl]{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
}
*[flex-col-tr]{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-end;
}


*[flex-col-tbl]{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
}

*[flex-col-tbc]{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}
*[flex-col-tbr]{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-end;
}

*[flex-col-cl]{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
}

*[flex-col-bc]{
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}

